@charset "UTF-8";

/*Paketa de cores
  dourado  #fE1B201 irst color
    #B6951E second color
    #615630 third color
    #D1882E fourth color 
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #B6951E;
    height: 90%;
    width:100% ;
}

main{
    position: relative;
    height: 60%;
    width: 90%;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #E1B201 ;
    width: 250px;
    height: 515px;
    border-radius: 20px;
   transform: translate(-41%, -20%);
   overflow: hidden;

   transition: width .3s, height .3s;
   transition-timing-function: ease-in;
}

section > div#image{
    display: block;
    background:#615630 url(../imagens/natureza1.jpg) ;
    height: 220px;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 0px 0px #D1882E;

} 

section > div#form{
    display: block;
    padding: 2px;
}

div#form > h1 {
    text-align: center;
    padding: 5px;
}

div#form > p{
    font-size: .9em;
}

form > div.campo {
    margin: 5px 0px;
    background-color: #915d1e;
    height: 40px;
    border-radius: 5px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #d1882ed7;
    color: white;
    border: 0px solid rgba(0, 0, 0, 0.372);
    border-radius:5px ;
    cursor: pointer;
    text-align: center;
    
}

div.campo input{
   font-size: 1em;
   width: calc(100%) -48px;
   height: 100% ;
}

form > input[type=submit]:hover{
    background-color: #915d1e;
    font-size: 1em;
   
    height: 100%;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#ffffffd7 ;
    border: 1px solid #764f1e ;
    text-decoration: none;
    color: #764f1e;
    padding: 5px;
    margin-top: 5px;
    border-radius: 2px;
    
}

form > input[type=password]{
    font-size: 20px;
}

label.indicador{
    display: inline-block;
    position:relative;
    color: white;
    font-size: 1.1em;
    padding: 3px;
    font-weight: bold;
        
}

form > a.botao:hover{
    background-color: #e2830fd7;
}
#duro{
    text-indent: 3px;
}

div.campo > input:focus-within{
    background-color: #615630;
}